---
import { Badge } from '@/components/ui/badge'
import { Button } from '@/components/ui/button'
import { MoveRight, PhoneCall } from 'lucide-react'
---

<div class="w-full hero py-20 lg:py-40">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 gap-8 items-center md:grid-cols-2">
      <div class="flex gap-4 flex-col">
        <div>
          <Badge variant="outline">We&apos;re live!</Badge>
        </div>
        <div class="flex gap-4 flex-col">
          <h1
            class="text-5xl md:text-7xl max-w-lg tracking-tighter text-left font-regular"
          >
            This is the start of something!
          </h1>
          <p
            class="text-xl leading-relaxed tracking-tight text-muted-foreground max-w-md text-left"
          >
            Managing a small business today is already tough. Avoid further
            complications by ditching outdated, tedious trade methods. Our goal
            is to streamline SMB trade, making it easier and faster than ever.
          </p>
        </div>
        <div class="flex flex-row gap-4">
          <Button size="lg" className="gap-4" variant="outline">
            Jump on a call <PhoneCall className="w-4 h-4" />
          </Button>
          <Button size="lg" className="gap-4">
            Sign up here <MoveRight className="w-4 h-4" />
          </Button>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-8">
        <div class="bg-muted rounded-md aspect-square"></div>
        <div class="bg-muted rounded-md row-span-2"></div>
        <div class="bg-muted rounded-md aspect-square"></div>
      </div>
    </div>
  </div>
</div>
