---
import { Badge } from '@/components/ui/badge'
---

<container class="mx-auto hero my-auto">
  <div class="w-full py-20 lg:py-40">
    <div class="container mx-auto">
      <div class="flex flex-col lg:flex-row gap-10 lg:items-center">
        <div class="flex gap-4 flex-col flex-1">
          <div>
            <Badge>Platform</Badge>
          </div>
          <div class="flex gap-2 flex-col">
            <h2
              class="text-xl md:text-3xl md:text-5xl tracking-tighter lg:max-w-xl font-regular text-left"
            >
              This is the start of something new
            </h2>
            <p
              class="text-lg max-w-xl lg:max-w-sm leading-relaxed tracking-tight text-muted-foreground text-left"
            >
              Managing a small business today is already tough. Avoid further
              complications by ditching outdated, tedious trade methods. Our
              goal is to streamline SMB trade, making it easier and faster than
              ever.
            </p>
          </div>
        </div>
        <div class="bg-muted rounded-md w-full aspect-video h-full flex-1">
        </div>
      </div>
    </div>
  </div>
</container>
