---
import { Badge } from '@/components/ui/badge'
import { Check } from 'lucide-react'
---

<container class="mx-auto hero my-auto">
  <div class="w-full py-10 lg:py-20">
    <div class="container mx-auto">
      <div class="flex gap-4 py-10 lg:py-20 flex-col items-start">
        <div>
          <Badge>Platform</Badge>
        </div>
        <div class="flex gap-2 flex-col">
          <h2
            class="text-3xl md:text-5xl tracking-tighter lg:max-w-xl font-regular"
          >
            Something new!
          </h2>
          <p
            class="text-lg max-w-xl lg:max-w-xl leading-relaxed tracking-tight text-muted-foreground"
          >
            Managing a small business today is already tough.
          </p>
        </div>
        <div class="flex gap-10 pt-12 flex-col w-full">
          <div class="grid grid-cols-2 items-start lg:grid-cols-3 gap-10">
            <div class="flex flex-row gap-6 w-full items-start">
              <Check className="w-4 h-4 mt-2 text-primary" />
              <div class="flex flex-col gap-1">
                <p>Easy to use</p>
                <p class="text-muted-foreground text-sm">
                  We&apos;ve made it easy to use and understand.
                </p>
              </div>
            </div>
            <div class="flex flex-row gap-6 items-start">
              <Check className="w-4 h-4 mt-2 text-primary" />
              <div class="flex flex-col gap-1">
                <p>Fast and reliable</p>
                <p class="text-muted-foreground text-sm">
                  We&apos;ve made it fast and reliable.
                </p>
              </div>
            </div>
            <div class="flex flex-row gap-6 items-start">
              <Check className="w-4 h-4 mt-2 text-primary" />
              <div class="flex flex-col gap-1">
                <p>Beautiful and modern</p>
                <p class="text-muted-foreground text-sm">
                  We&apos;ve made it beautiful and modern.
                </p>
              </div>
            </div>
            <div class="flex flex-row gap-6 w-full items-start">
              <Check className="w-4 h-4 mt-2 text-primary" />
              <div class="flex flex-col gap-1">
                <p>Easy to use</p>
                <p class="text-muted-foreground text-sm">
                  We&apos;ve made it easy to use and understand.
                </p>
              </div>
            </div>
            <div class="flex flex-row gap-6 items-start">
              <Check className="w-4 h-4 mt-2 text-primary" />
              <div class="flex flex-col gap-1">
                <p>Fast and reliable</p>
                <p class="text-muted-foreground text-sm">
                  We&apos;ve made it fast and reliable.
                </p>
              </div>
            </div>
            <div class="flex flex-row gap-6 items-start">
              <Check className="w-4 h-4 mt-2 text-primary" />
              <div class="flex flex-col gap-1">
                <p>Beautiful and modern</p>
                <p class="text-muted-foreground text-sm">
                  We&apos;ve made it beautiful and modern.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</container>
